{% load static %}
{% include "header.html" %}

    <!-- dashboard inner -->
    <div class="midde_cont">
                  
        <div class="container-fluid mt-5 p-5">
           <a href="#" class="btn text-center p-3 border-rounded disabled rounded mr-5" style="background-color: #ff5722; font-weight: 600; font-size: large; color: white;">Generate Routine for HSC Intake</a>
           <a href="{% url 'diplomaroutine' %}" class="btn text-center p-3 border-rounded rounded ml-5" style="background-color: #ff5722; font-weight: 600; font-size: large; color: white;">Generate Routine for Diploma Intake</a>
        </div>

        <!-- footer -->
        {% comment %} <div class="container-fluid">
           <div class="footer">
              <p>Copyright © Department of Computer Science and Engineering | NWU.
              </p>
           </div>
        </div> {% endcomment %}
     </div>
     <!-- end dashboard inner -->

{% include "footer.html" %}